@use '../../sass/utils' as *;

.error,
.success {
	margin-top: 1.5rem;
	padding: 1rem 2rem;
	font-size: 1.4rem;
	color: #fff;
	border-radius: 4px;
}

.error {
	background: #e56464;
}

.success {
	background: #73e564;
}
