@use '../../sass/utils' as *;

.corners {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 0.3s;
}

.bar {
	position: absolute;
	left: 50%;
	width: calc(100% - 90px);
	height: 45px;
	transform: translate(-50%, 0);

	&--top {
		top: 0;
		border-top: 3px solid $accentColor;
	}

	&--bottom {
		bottom: 0;
		border-bottom: 3px solid $accentColor;
	}
}
