@use './colors' as *;
@use './media' as *;

@mixin cell {
	padding: 1rem;
	min-width: 150px;
	border: 1px solid $mainColor;
}

@mixin title {
	margin-top: 7rem;
	font-size: 4rem;
	text-align: center;
	letter-spacing: -1px;

	@include medium {
		font-size: 6rem;
	}
}

@mixin background($op, $src) {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url($src);
	background-size: cover;
	opacity: $op;
	z-index: -1;
}
